.body,ul,ol,li,h1,h2,h3,h4{
	font-family: sans-serif;
}

.recipe{
	position: center;

}

ul,ol{
	cursor: pointer; 
}
.chicken img{
  margin: 10px;
  padding: 10px;
  height: 200px;
  width: 200px;
  }

 .bought{
 	background-color: green;
 	color: white;
 }

 .list{
 	background-color: #ddd;
 	color: #000;
 }

 ul{
 	list-style: none;
 }
 
 .chicken:hover {
  -webkit-transform: rotate(50deg); }



